body
{
    background-color: #35654d;
}

#puntaje
{
    border: 100px;

}
.tituloPuntaje
{
    font-size: 100px;

    padding: 5%;
    gap: 1%;
}

.setCartas
{
    display: flex;
    padding: 10%;
    gap: 4%;
}

.carta
{
    width: 200px;

    filter: drop-shadow(5px -5px 5px black);
}

.tamañoCarta
{
    min-width: 25px;
    max-width: 150px;
    margin: 10px;
}

.estiloBoton
{
    /* Tamaño del boton */
    min-width: 30px;
    height: 25px;
    
    /* Espacio muerto izquierda y derecha */
    padding-left: 15px;
    padding-right: 15px;

    /* Estilo del borde */
    border-radius: 10px;
    border-width: 2px;
    border-style: solid;
    border-color: #777777;

    /* Estilo del boton */
    background-color: #c0c0c0;
}

